asgiref==3.8.1
astroid==3.3.8
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
dill==0.3.9
Django==5.1.6
docopt==0.6.2
fonttools==4.57.0
gender-guesser==0.4.0
gunicorn==23.0.0
isort==6.0.0
lxml==5.3.2
mccabe==0.7.0
num2words==0.5.14
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pycparser==2.22
pydyf==0.11.0
pylint==3.3.4
pyphen==0.17.2
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.2
weasyprint==65.0
webencodings==0.5.1
zopfli==0.2.3.post1
